body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;text-align: center;
}

.center {
    margin: 15% 30% 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 100px;
}
.move-icon1 {
    height: 100px;
    display: none;
}

.move-button:hover .move-icon1 {
    display: block;
}
.move-button:hover .move-icon {
    display: none;
}

.move-button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 3px ridge white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-score-button,
.auto-play-button,
.reset-confirm-button {
    background-color: white;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}